html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  *:focus-visible {
    outline: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--color-body);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .paragraph,
  .title {
    margin: 0;
  }
  
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .link {
    text-decoration: none;
  }